extends ../layouts/master.pug

block header
  .cases-page
    include ../partials/_header.pug

block content
  -
    const cases_filters = [
      {
        url: "#",
        text: "споры с государственными органами"
      },
      {
        url: "#",
        text: "недвижимость и строительство"
      },
      {
        url: "#",
        text: "защита прав частного клиента"
      },
      {
        url: "#",
        text: "недвижимость и строительство"
      },
      {
        url: "#",
        text: "защита прав частного клиента"
      },
    ]

  main.main.cases.container-fluid.p-0
    +pageTitle("Кейсы")

    .cases__content
      .row.justify-content-end
        .col-6
          .cases__filter
            .cases__filter-block
              .cases__filter-tabs
                each item, index in cases_filters
                  if index == 0
                    +tabBtn(item.url, item.text, "active")
                  else
                    +tabBtn(item.url, item.text)
            button.cases__filter-discard
              img.svg(src="assets/images/icons/discard.svg", alt="discard")
              span Сбросить
      .cases__last
        .row
          .col-2
            h3.cases__last-title Последний кейс
          .col-6
            .cases__last-block.last-case
              .last-case__img
                span
                  img(src="assets/images/cases/university.png", alt="Европейский университет в Санкт-Петербурге")
              h4.last-case__title Защита интересов Европейского Университета
              +tabBtn("#", "споры с государственными органами", "disabled")
              .last-case__practices
                p.last-case__practices-title Практики
                ul.last-case__practices-block 
                  li.last-case__practices-item
                    a.link(href="#") Банкротство и антикризисный консалтинг
                  li.last-case__practices-item
                    a.link(href="#") Страховое право
                  li.last-case__practices-item
                    a.link(href="#") Корпоративное право и M&A

    +seeNext("about-company", "О компании")

block footer
  include ../partials/_footer.pug
