mixin moreBtn(href, text)
  a.more-btn(href=href)
    img(src="assets/images/icons/arrow-right.svg", alt="more")
    span= text

mixin tabBtn(href, text, disabledClass)
  a.tab-btn(href=href class = (disabledClass == "disabled") ? disabledClass : "")= text
