footer.footer
  .footer__content
    p.footer__title
      | #[span С]ила #[br] #[span С]табильного #[br] #[span П]артнерства
    .footer-block
      .footer__links-wrapper
        ul.footer__links
          li.footer__links-block
            ul.footer__links-items
              li.footer__links-item
                a.link(href="#") Кейсы
              li.footer__links-item
                a.link(href="#") О компании
              li.footer__links-item
                a.link(href="#") Команда
          li.footer__links-block
            ul.footer__links-items
              li.footer__links-item
                a.link(href="#") События
              li.footer__links-item
                a.link(href="#") Контакты
        ul.footer__networks
          li.footer__network
            a.link(href="#" target="_blank") Instagram
          li.footer__network
            a.link(href="#" target="_blank") Facebook
          li.footer__network
            a.link(href="#" target="_blank") Telegram
      .footer__contacts
        a(href="tel:+7 812 901–02–01").phone +7 812 901–02–01
        a(href="mailto:site@ssp-consult.ru").email site@ssp-consult.ru
    .footer__bottom
      p.copyrigh © 2020 ССП-Консалт
      p.author
        | Сделано в
        a(href="https://cloudmill.ru/" target="_blank")  CloudMill
