header.header
  .header__content
    .header__logo
      a(href="/index")
        img.svg.logo__img(src="assets/images/icons/logo.svg", alt="logo")
    ul.practices
      li.practices__item
        a.link(href="#") Практики
          ul.practices__item-dots
            li.dot
            li.dot
            li.dot
      li.practices__item
        a.link(href="#") Кейсы
    ul.header__menu.menu
      li.menu__item
        a.link(href="#") О компании
      li.menu__item
        a.link(href="#") Команда
      li.menu__item
        a.link(href="#") События
      li.menu__item
        a.link(href="#") Контакты
