.loader.hidden
  p.loader-title
    | #[span С]ила #[br] #[span С]табильного #[br] #[span П]артнерства
  svg.loader-progress(width="610", height="610")
    circle.loader-progress__circle(stroke="transparent", stroke-width='1', cx='305', cy='305', r='304', fill='transparent')
