include ../mixins/_mixins.pug

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="assets/favicon.svg")

    title Сила Стабильного Партнерства
  body
    include ../partials/_loader.pug

    .loaded-content
      block header
      block content
      block footer
    block scripts
      //- script
      //-   |  function initMap() {
      //-   |    map = new google.maps.Map($("#map"), {
      //-   |      center: { lat: -34.397, lng: 150.644 },
      //-   |      zoom: 8,
      //-   |    });
      //-   |  }
      //- script(defer, async, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH6vqQLGTGXjMIF7KEDy1-ijODaKbDxyQ&callback=initMap")
