.recognition
  -
    const recognitions_1 = [
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
    ]
  -
    const recognitions_2 = [
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
      {
        url: '../../assets/images/recognition-2.png',
        alt: 'recognition-2'
      },
      {
        url: '../../assets/images/recognition-1.png',
        alt: 'recognition-1'
      },
    ]
  h2.recognition__title Признание
  .recognition__content
    .recognition__content-row-1.swiper-container
      .recognition__content-wrapper.swiper-wrapper
        each recognition in recognitions_1
          .recognition__content-item.swiper-slide
            img(src=recognition.url, alt=recognition.alt)
    .recognition__content-row-2.swiper-container
      .recognition__content-wrapper.swiper-wrapper
        each recognition in recognitions_2
          .recognition__content-item.swiper-slide
            img(src=recognition.url, alt=recognition.alt)
